

.task-element {
  display: flex;
  width: 1000px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mark-completed-checked{
  background-color: var(--button-color-purple);
}

.priority-high {
  background-color: var(--button-color-red-trans);
}

.priority-low {
  background-color: var(--button-color-green-trans);
}

.priority-mid {
  background-color: var(--button-color-yellow-trans);
}

.task-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.add-subtasks {
  font-size: 18px;
  margin-right: 10px;
}



.task-name {
  flex-grow: 1;
}

.button-group {
  display: flex;
  gap: 10px;
}

.delete-button {
  background-color: var(--button-color-red);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.add-subtasks {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.mark-completed-checkbox{
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--secondary-background);
  width: 30px;
  height: 30px;
  align-content: center;
}

.edit-button {
  background-color: var(--button-color-purple);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
